<section class="container">

<div class="content">
    <div class="grav-center-horizontal grav-center-vertical">
        <index *ngIf="route == '/'"></index>
        <login *ngIf="route == '/login'"></login>
    </div>
</div>
</section>
