
<section class="login">
    <form>
        <input type="text" name="username" id="username" [(ngModel)]="username" placeholder="Username" />
        <input type="password" name="password" [(ngModel)]="password" id="password" placeholder="Password"/>
        <input type="button" value="Login" (click)="onSubmit()">
    </form>
</section>